
#Dadoscadastro{
	color: black;
	padding: 2px;
	margin: 10px;
	background: white;
	text-align: center;
}

#Botão_Entrar{ 
	color: green;
	padding: 2px;
	margin: 10px;
	background: white;
	text-align: center;
}
#Botão_Entrar2{
	color: whitesmoke;
	background: green;
	border-color: green;
}
#Ir_em_cadastro{
	color: green;
	padding: 2px;
	margin: 10px;
	background: white;
	text-align: center;
}
#Ir_em_cadastro2{
	color: whitesmoke;
	background: green;
	border-color: green;
}
#Botão_Cadastrar{
	color: green;
	padding: 2px;
	margin: 10px;
	size: 50;
	background: white;
	text-align: center;
}
#Botão_Entrar_cadastro{
	color: whitesmoke;
	background: green;
	border-color: green;
}
#Sexo{
	color: black;
	padding: 2px;
	margin: 10px;
	background: white;
	text-align: center;
}
#Termos{
	color: black;
	padding: 2px;
	margin: 10px;
	background: white;
	text-align: center;
}