    <script src="../../../assets/jquery/jquery.js"></script>

	<div id="headerHTML"> <!---Carrager headerHTML--> </div>
	<script> $("#headerHTML").load("../../../app/views/inc/headerHTML.html"); </script>

	<div id="header"> <!---Carrager header--> </div>
	<script> $("#header").load("../../../app/views/inc/header.html"); </script>
		

	<div id="paginaInicial"> <!---Carrager paginaInicial--> </div>
	<script> $("#paginaInicial").load("../../../app/views/pagina_inicial/estrutura.html"); </script>	

		
	<div id="footer"> <!---Carrager footer--> </div>
	<script> $("#footer").load("../../../app/views/inc/footer.html"); </script>
		
	<div id="footerHTML"> <!---Carrager footerHTML--> </div>
	<script> $("#footerHTML").load("../../../app/views/inc/footerHTML.html"); </script>