<script src="../../../assets/jquery/jquery.js"></script>
<div id="headHTML"> <!---Carrager headHTML--> </div>
<div id="header"> <!---Carrager header--> </div>
<title>Página inicial</title>

<main>
		<div id="container"> 
				<div class="d-flex justify-content-center " style="">
						<button id="botaomenu" style="background: green; color: white">
							<i class="fas fa-bars text-white p-1" style="font-size: 30px;"></i>
						</button>
					
						<input class="ms-2 me-2" placeholder="Pesquisar" id="caixa" type="text">
					
						<button class=" " id="botaopesquisar" style="background: green; color: white">
							<i class="fas fa-search text-white p-1" style="font-size: 25px;"></i>
						</button>
					</div>
					
					<center>
						<div class="mt-3 pt-2" style="background: green; color: white">
							<h3>Seja Bem-Vindo a nossa loja</h3>
							<p>Garantimos materiais de boa qualidade à preços baixos</p>
						</div>
					</center>
					<hr>
					
					<div class="container ">
						<img border="1" width="30%" src="../../../Marketing inicial/Coluna.jpg">
					
						<p align="left"><strong>Caixa Acústica JBL MRX 615</strong>
							<br>
					
							<strong>376.200,00</strong> (Kz)
							<br>
							Desconto até <strong>348.330,00</strong> (Kz)
						</p>
						<hr>
					
					
						<img border="1" width="30%" src="../../../Marketing inicial/Fláuta.jpg">
					
						<p align="left"><strong>Fláuta Yamaha Soprano barroca Ecologica YRS-402B</strong>
							<br>
					
							<strong>18.900,00</strong> (Kz)
							<br>
							Desconto até <strong>30.900,00</strong> (Kz)
						</p>
						<hr>
					
					
						<img border="1" width="30%" src="../../../Marketing inicial/Micro.jpg">
					
						<p align="left"><strong>Kit com 3 Microfones Dylan SMD 300 3P com cabos de 3 Metros</strong>
							<br>
					
							<strong>14.400,00</strong> (Kz)
							<br>
							Desconto até <strong>32.400,00</strong> (Kz)
						</p>
						<hr>
					
						<img border="1" width="30%" src="../../../Marketing inicial/Piano.jpg">
					
						<p align="left"><strong>Piano Digital Casio CDP-S110 Bk</strong>
							<br>
					
							<strong>311.400,00</strong> (Kz)
							<br>
							Desconto até <strong>288.440,00</strong> (Kz)
						</p>
						<hr>
					</div>	
		</div>
</main>
	
<div id="footer"> <!---Carrager footer--> </div>
<div id="footHTML"> <!---Carrager footHTML--> </div>
<script src="../../../assets/js/heads_foots.js"></script>