<!-- Aqui começa a coluna -->
<div id="imagens">
        <p>
            <img border="1" width="50%" src="Marketing inicial/Coluna.jpg">

            <p align="left"><strong>Caixa Acústica JBL MRX 615</strong>
                <br>

                <strong>376.200,00</strong> (Kz)
                <br>
                Desconto até <strong>348.330,00</strong> (Kz)
            </p>

        </p> <!-- Aqui termina a coluna -->
    </div>
    <hr>

    <div id="imagens">

        <p>
            <!-- Aqui começa a fláuta -->
            <img border="1" width="50%" src="Marketing inicial/Fláuta.jpg">

            <p align="left"><strong>Fláuta Yamaha Soprano barroca Ecologica YRS-402B</strong>
                <br>

                <strong>18.900,00</strong> (Kz)
                <br>
                Desconto até <strong>30.900,00</strong> (Kz)
            </p>

        </p><!-- Aqui termina a fláuta -->
    </div>
    <hr>
    <div id="imagens">

        <p>
            <!-- Aqui começa o micro -->
            <img border="1" width="50%" src="Marketing inicial/Micro.jpg">

            <p align="left"><strong>Kit com 3 Microfones Dylan SMD 300 3P com cabos de 3 Metros</strong>
                <br>

                <strong>14.400,00</strong> (Kz)
                <br>
                Desconto até <strong>32.400,00</strong> (Kz)
            </p>

        </p> <!-- Aqui termina o micro -->
    </div>
    <hr>
    <div id="imagens">

        <p>
            <!-- Aqui começa o Piano -->
            <img border="1" width="50%" src="Marketing inicial/Piano.jpg">

            <p align="left"><strong>Piano Digital Casio CDP-S110 Bk</strong>
                <br>

                <strong>311.400,00</strong> (Kz)
                <br>
                Desconto até <strong>288.440,00</strong> (Kz)
            </p>

        </p> <!-- Aqui termina o Piano -->
    </div>
    <hr>