<footer class="" style="background: green; color: white">
    <div class="container d-table d-md-flex">
            <div class="pb-2 " style="background: green; color: white; width: 100%">
                    <dl>
                        <dt class="pt-3"><strong>Sobre a loja</strong></dt>
                        <hr>
                        <dd>Fundada no ano de 2021 com objectivo de comercializar materiais de músicas como de home stúdio, room
                            stúdio e eventos </dd>
                    </dl>
            </div>

            <hr class="d-md-none">
            
                <div class="pb-2 " style="background: green; color: white; width: 100%">
                    <dl>
                        <dt class="pt-3"><strong>Atendimento</strong></dt>
                        <hr>
            
                        <a href="Atendimento.html" style="text-decoration: none; color: white">
                            <dd>Contacte-nos (+244-932-035-294) ou (lojacachiombo@gmail.com)</dd>
                            <dd>Garantia dos produtos</dd>
                            <dd>Troca ou devolução</dd>
                            <dd>Cancelamento do pedido</dd>
                            <dd>Política de privacidade</dd>
                        </a>
                    </dl>
                </div>
    </div>
</footer>
