<header>

    <p class=" mt-3 " style="background: green; color:white;">Loja Cachiombo e Filhos<p>
            <hr>

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-lg-1 text-start">
                    <a href="Página Inicial.html">
                        <i class="fas fa-house-chimney text-dark ms-2 d-block d-md-none" style="font-size: 30px"></i>
                        <i class="fas fa-house-chimney text-dark ms-2 d-none d-md-block" style="font-size: 40px"></i>
                    </a>
                </div>

                <div class="d-block justify-content-center col-5 col-sm-8">
                    <hr>
                </div>

                <di class="col d-flex col-lg-1 text-end  ">
                    <a href="Loja/loja.html">
                        <i class="fas fa-cart-shopping text-dark d-block d-md-none" style="font-size: 30px"></i>
                        <i class="fas fa-cart-shopping text-dark d-none d-md-block" style="font-size: 40px"></i>
                    </a>

                    <a href="Login.html">
                        <i class="fas fa-user text-dark ms-2 me-2 d-block d-md-none" style="font-size: 30px"></i>
                        <i class="fas fa-user text-dark ms-2 me-2 d-none d-md-block" style="font-size: 40px"></i>
                    </a>
                </di>
            </div>
            <hr>

            <div class="d-flex justify-content-center " style="">
                <button id="botaomenu" style="background: green; color: white">
                    <i class="fas fa-bars text-white " style="font-size: 25px;"></i>
                </button>

                <input class="ms-2 me-2" placeholder="Pesquisar" id="caixa" type="text">

                <button class=" " id="botaopesquisar" style="background: green; color: white">
                    <i class="fas fa-search text-white" style="font-size: 25px;"></i>
                </button>
            </div>

            <center>
                <div class="mt-3 pt-2" style="background: green; color: white">
                    <h3>Seja Bem-Vindo a nossa loja</h3>
                    <p>Garantimos materiais de boa qualidade à preços baixos</p>
                </div>
            </center>
            <hr>
</header>