<header>
    <span id="tituloLoja">
        <!---Carrager icone tituloLoja--> </span>
    <script> $("#tituloLoja").load("../../../app/views/inc/tag/tituloLoja.html"); </script>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-1 text-start">
            <span id="home"><!---Carrager icone home--> </span>
            <script> $("#home").load("../../../app/views/inc/icones/home.html"); </script>
        </div>

        <div class="d-block justify-content-center col-5 col-sm-8">
            <hr>
        </div>

        <div class="col d-flex col-lg-1 text-end  ">
            <span id="carrinho"><!---Carrager icone carrinho--> </span>
            <script> $("#carrinho").load("../../../app/views/inc/icones/carrinho.html"); </script>

            <span id="user"><!---Carrager icone user--> </span>
            <script> $("#user").load("../../../app/views/inc/icones/user.html"); </script>
        </div>
    </div>
    <hr>
</header>