<title>Login</title>
<form method="POST" action="../../config/logar.php">
        <label>
                <h1><b>Login</b></h1> <hr>
        </label>

        <div class="row border">
                <div class="col">
                        <div class="col  mt-2 mb-2">
                                <label><b>Email:</b></label> 
                                <input class="form-control" required maxlength="40" placeholder="Digite o seu email" type="text" name="email" maxlength="50"> 
                        </div>

                        <div class="col  mt-2 mb-2">
                                <label><b>Senha:</b></label> 
                                <input class="form-control" required maxlength="20" placeholder="Digite a sua senha" type="password" name="senha" maxlength="8">
                        </div>

                        <div class="col mt-4 mb-4" style="outline: 3px solid darkcyan">
                                <input class="btn border w-100" style="background: green; color: white" type="submit" id="Botão_Entrar2" value="Entrar" name="entrar" accept="aceitar">
                        </div>

                        <div class="col mt-2 mb-2" >
                                <strong>Ainda não tem uma conta?</strong> 
                        </div>

                        <div class="col mt-2 mb-2 text-center" style="border: 3px solid darkgray">
                                <a class="" href="Cadastro.html" style="text-decoration: none"> Cadastrar</a>
                        </div>
                </div>
        </div>
</form>