<script src="../../../assets/jquery/jquery.js"></script>

<div id="headerHTML"><!---Carrager headerHTML--></div>
<script> $("#headerHTML").load("../../../app/views/inc/headerHTML.html"); </script>


<span id="tituloLoja"><!---Carrager icone tituloLoja--> </span>
<script> $("#tituloLoja").load("../../../app/views/inc/tag/tituloLoja.html"); </script>

<div class="col col-lg-1 text-start">
	<span id="home"><!---Carrager icone home--> </span>
	<script> $("#home").load("../../../app/views/inc/icones/home.html"); </script>
</div>


<div class="d-flex justify-content-center align-items-center" style="min-height: 61vh">
		<span id="estruturaLogin"> <!---Carrager icone estruturaLogin--> </span>
		<script> $("#estruturaLogin").load("../../../app/views/login/estrutura.html"); </script>
</div>


<div id="footer"><!---Carrager footer--></div>
<script> $("#footer").load("../../../app/views/inc/footer.html"); </script>


<div id="footerHTML"><!---Carrager footerHTML--></div>
<script> $("#footerHTML").load("../../../app/views/inc/footerHTML.html"); </script>