<title>Login</title>
<script src="../../../assets/jquery/jquery.js"></script>

	<div id="headerHTML"> <!---Carrager headerHTML--> </div>
	<script> $("#headerHTML").load("../../../app/views/inc/headerHTML.html"); </script>


	
	<div home>
	<!-- Aqui começa as imagens -->
		
		<center><a href="Página Inicial.html">
			<img align="left" width= "5%" src="Ícones/Home.png">
		</a>
		</center>
	</div>
		<!-- Termina Home -->


		<!-- Login -->
	
		<form method="POST" action="logar.php">
			
			<label><h1>Login</h1></label>

			<div id="Dadoscadastro">
			<label ><strong>Email:</strong> <input size="40" placeholder="Digite o seu email" type="text" name="email" maxlength="50"  ></label>
			</div>

			<div id="Dadoscadastro">
			<label><strong>Senha:</strong> <input size="40" placeholder="Digite a sua senha" type="password"  name="sa" maxlength="8" ></label>
			</div>

			<div id="Botão_Entrar">
			<label><input type="submit"  id="Botão_Entrar2" value="Entrar" name="entrar" accept="aceitar"></button></label>
			</div> <!--Em css está com os nomes Botão_Entrar & Botão_Entrar2
		

			<!-- Termina O Login -->


			<label><center><strong>Ainda não tem uma conta?</strong></center></label> 

			<div id="Ir_em_cadastro">
			<a href="Cadastro.html"><input type="button" id="Ir_em_cadastro2" value="Cadastrar"></a>
			</div>
		</form>

			
